/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
    width: 100%; 
    height: 100%;
    z-index: 1;
  }
  #minimap {
    width: 40%; 
    height: 70%;
    bottom: 25%;
    left: 85%;
    z-index: 2;
    border: 7px solid rgb(220, 220, 220, 0.8); 
    border-style: groove; 
    transition: transform 0.3s ease;
  } 
  
  #minimap:hover { 
    transform: translate(-405px, -335px);
  }
  /* 
   * Optional: Makes the sample page fill the window. 
   */
   html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrolling when using full-page elements */
    font-family: Arial, sans-serif;  /* Adding a global font style */

  }
  
  
  
  
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  #street-view {
    height: 100%;  
    position: relative;
  } 
  button {
    width: 100px;
    height: 25px;
    color: white;
    background-color: red;
  }
  
  img {
  padding-top: 10px;
  }
  
  #street-view {
  height: 100%;
  }
  
  .floating-panel-flexbox { 
    display: flex; 
    position: absolute;  
    align-items: center; 
    justify-content: center; 
    flex-direction: row; 
    top: 15px;
    z-index: 5; 
    text-align: center;
    font-family: "Roboto", "sans-serif";
    line-height: 30px;
    width: 20vw;
    height: 12vh;   
    margin-left: 40vw; 
  }     
  
  .floating-panel { 
    display: flex;
    position: relative;  
    align-items: center;  
    justify-content: center;
    flex-direction: row;
    z-index: 5;  
    background-color: rgb(255, 255, 255, 0.7); 
    padding: 5px;
    border: 3px solid rgb(220, 220, 220, 0.8); 
    text-align: center;
    font-family: "Roboto", "sans-serif";
    width: 14vw;
    height: 10vh; 
    font-size: 0.8vw; 
    border-radius: 15px;
  }   
  
  .where-am-i { 
    position: relative;  
    z-index: 5;  
    padding: 10px;  
  }
  
  .tj-image {   
    position: relative; 
    /* border: 3px solid #fff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); */
    width: 35px; 
    height: auto; 
    object-fit: cover; 
    object-position: top; 
    overflow: hidden;
  }  
  
  .score-flexbox {  
    display: flex; 
    position: absolute;  
    align-items: center; 
    justify-content: center; 
    flex-direction: row;  
    top: 10px;
    z-index: 5; 
    text-align: center;
    font-family: "Roboto", "sans-serif"; 
    width: 10vw; 
    margin-left: 1vw;  
  }  
  
  .title-flexbox {  
    display: flex; 
    position: absolute;  
    align-items: center; 
    justify-content: center; 
    flex-direction: row; 
    width: 100%;
  
  } 
  
  .points-flexbox {  
    display: flex; 
    position: absolute;  
    align-items: center; 
    justify-content: center; 
    flex-direction: row;   
    margin-top: 50%;  
    width: 100%;
  
  }
  .floating-score {
    position: relative;   
    top: 0px;
    z-index: 5;
    background-color: rgb(255, 255, 255, 0.3); 
    text-align: center;
    font-family: "Roboto", "sans-serif"; 
    border: 3px solid rgb(220, 220, 220, 0.8); 
    line-height: 30px;
    font-size: 0.8vw; 
    border-radius: 30%;
    font-size: 1.0vw; 
    height: 20vh; 
    width: 10vw;
  }
  #floating-score {
    margin-left: -100px; 
  }  
  
  .poopass {  
    width: 10vw; 
    margin-right: 1vw; 
    margin-left: 1vw; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    height: 30px;
    background-color: rgb(255, 255, 255, 0.3); 
  }
  
  .img { 
    position: absolute;
    margin-top: 95px;
    margin-left: -45px;
  }  
  
  .guess {  
    position: absolute;
    height: 50px; 
    width: 100px;
    margin-left: 50vw;
  }
  
  
   
  
  
  
  /* [END maps_streetview_embed] */